<header class="header__container">
  <h1>Has llegado al Universo de Ani... ¡Bienvenido!</h1>
  <nav>
    <ul class="header__menu">
      <li class="header__menu-item">
        <a href="./about.html" class="header__link">Sobre mí</a>
      </li>
      <li class="header__menu-item">
        <a href="./" class="header__link">Cuentos</a>
      </li>
      <li class="header__menu-item">
        <a href="./" class="header__link">Poemas para niños</a>
      </li>
      <li class="header__menu-item">
        <a href="./" class="header__link">Publicaciones</a>
      </li>
      <li class="header__menu-item">
        <a href="./contact.html" class="header__link">Contacto</a>
      </li>
    </ul>
  </nav>
  <svg class="header__icon"><use href="#menu" /></svg>
</header>
