<main class="main__container">
  <section class="main__intro">
    <!-- <h1 class="main__title">El Universo de Ani</h1> -->
    <img src="./assets/images/title.png" alt="title" title="El Universo de Ani" class="main__title-img" />
    <img src="./assets/images/text.png" alt="description" title="description" class="main__text-img" />
    <!-- <p class="main__text">
      Un espacio creado por Ana Herraiz <br />
      para niños de 5 a 105
    </p> -->
  </section>
  <img src="./assets/images/doll.png" alt="doll" title="doll" class="main__img" />
</main>
