<main class="main__container">
  <section class="main__intro">
    <!-- <h1 class="main__title">El Universo de Ani</h1> -->
    <img src="./assets/images/doll.png" alt="Doll" title="Doll" class="main__img" />
    <img src="./assets/images/title.png" alt="title" title="El Universo de Ani" class="main__title-img" />
    <img src="./assets/images/text.png" alt="Un espacio de Ana Herraiz para niños de 5 a 105" title="Un espacio de Ana Herraiz para niños de 5 a 105" class="main__text-img" />
    <!-- <p class="main__text">
      Un espacio creado por Ana Herraiz <br />
      para niños de 5 a 105
    </p> -->
  </section>
  <section class="main_poem">
    <p class="main_poem-text" >Cuentos en verso,<br>cuentos en prosa <br>cuentos, poemas y escritos <br>para cada día,<br>para cada cosa.</p>
  </section>

</main>
