// fonts
$font-main: 'Quicksand', sans-serif;

// color palette
$black: black;
$white: white;
$yellow: #f1c22a;
$orange: #fd7914;
$turquoise: #5fe6e2;
$cyan: #28b2f0;
$indigo: #6850dc;
$pink: #e01072;
