.header {
  &__container {
    display: flex;
    justify-content: center;
  }
  &__menu {
    display: flex;
  }
  &__menu-item {
    list-style: none;
    padding: 1rem;
  }
  &__link {
    text-decoration: none;
    color: $indigo;
    font-size: 1.5rem;
    font-weight: 600;
    &:hover {
      color: $pink;
    }
  }
}

// responsive
@media all and (min-width: 768px) {
  .header {
    &__icon {
      height: 2rem;
    }
    &__link {
      font-size: 1.5rem;
    }
  }
}

@media all and (min-width: 1024px) {
  .header {
    &__container {
      padding: 1rem 2rem;
      display: flex;
      justify-content: flex-start;
    }
    &__icon {
      height: 2.25rem;
    }
    &__link {
      font-size: 1.5rem;
    }
  }
}
