.page__header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.header {
  &__menu {
    display: flex;
  }
  &__menu-item {
    padding: 0 2rem;
    list-style: none;
  }
  &__link {
    text-decoration: none;
    color: $indigo;
    font-weight: 600;
  }
}
