@import 'core/variables';
@import 'core/reset';

.page__container {
  height: 100vh;
  font-family: $font-main;
  background-color: $cyan;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  &__container {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    flex-flow: row-reverse;
  }
  &__icon {
    padding-left: 0.5rem;
    height: 2rem;
  }
  &__link {
    text-decoration: none;
    color: inherit;
  }
}
.main {
  &__container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  &__img {
    height: 20rem;
  }
}

.poem {
  &__container {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.footer {
  &__container {
    padding: 1rem;
  }
}
