@import 'core/variables';
@import 'core/reset';

.svg {
  display: none;
}

.page__container {
  height: 100vh;
  font-family: $font-main;
  background-color: $cyan;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  &__container {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
  }
  &__icon {
    padding-left: 0.5rem;
    height: 2rem;
  }
  &__link {
    text-decoration: none;
    color: inherit;
  }
  &__back {
    &:hover {
      color: $indigo;
    }
  }
}

.main {
  &__container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}

// form

.form {
  &__wrap {
    border-radius: 2rem;
    background-color: $white;
    width: 90vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__container {
    color: $pink;
    font-weight: 600;
    width: 75vw;
    height: 60vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
  }
  &__input {
    font-family: $font-main;
    height: 2rem;
    padding: 0 1rem;
    border: 1px solid $pink;
    border-radius: 4px;
  }
  &__input-text {
    font-family: $font-main;
    height: 8rem;
    padding-top: 1rem;
  }
  &__btn {
    height: 45px;
    margin-top: 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    background-color: $pink;
    color: $white;
    font-family: $font-main;
    letter-spacing: 1.5pt;
    font-weight: 600;
    width: 100%;
    transition: 0.5s ease background-color;
    &:hover {
      cursor: pointer;
      background-color: $orange;
    }
  }
}

.footer {
  &__container {
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    padding: 1rem;
  }
  &__social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
    margin-bottom: 1rem;
  }
  &__icon {
    height: 3rem;
    width: 3rem;
    fill: $white;
    &:hover {
      fill: $indigo;
    }
  }
}

// responsive

@media all and (min-width: 1024px) {
  .footer {
    &__container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    &__social {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 10vw;
      margin-bottom: 1rem;
    }
  }
  .form {
    &__wrap {
      width: 50vw;
      height: 70vh;
    }
    &__container {
      width: 40vw;
      height: 60vh;
    }
    &__btn-wrap {
      display: flex;
      justify-content: center;
    }
    &__btn {
      width: 30%;
    }
  }
}
